.image {
  width: 100%;
  height: 100%;
  // border: 3px solid var(--default-border-color);
  background-color: var(--main-text-color);
  // fill: var(--default-border-color);
  background-image: var(--image-placeholder);
  background-repeat: no-repeat;
  background-position: center;
}