$brand-block-color: #0077ff;
$brand-accent-block-color: #ffffff;
$brand-border-color: #ffffff;

$brand-main-text-color: #ffffff;
$brand-second-text-color: rgba(255, 255, 255, 0.6);
$brand-additional-text-color: rgba(255, 255, 255, 0.3);
$brand-link-color: #ffffff;

.theme_color_project-brand {
  --default-block-color: #{$brand-block-color};
  --accent-block-color: #{$brand-accent-block-color};
  --default-border-color: #{$brand-border-color};
  --main-text-color: #{$brand-main-text-color};
  --second-text-color: #{$brand-second-text-color};
  --additional-text-color: #{$brand-additional-text-color};
  --link-color: #{$brand-link-color};
  
  background-color: var(--default-block-color);
}