$default-block-color: #ff3333;
$accent-block-color: #ffffff;
$border-block-color: #ff3333;

$main-text-color: #ffffff;
$second-text-color: rgba(255, 255, 255, 0.6);
$additional-text-color: rgba(255, 255, 255, 0.3);
$link-color: #ffffff;

.theme_color_project-warning {
  
}