.grid_col-gap_half {
  margin-inline-start: var(--gap-half);
  margin-inline-end: var(--gap-half);
}

.grid_col-gap_half .grid__fraction_m-col_2 {
  margin-inline-start: var(--gap-half);
  margin-inline-end: var(--gap-half);
}