.product__image {
  height: 160px; 
  background-color: var(--default-block-color);
}

.theme_color_project-inverse .product__image {
  background-color: $inverse-main-text-color;
  --image-placeholder: url('img/image-placeholder-primary.svg');
}
